// 全局样式定义
@import './_flex.less';

html {
    font-family: PingFangSC-Regular, 'Microsoft Yahei', sans-serif;
    color: #333;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-font-smoothing: antialiased;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;
}

html,
body {
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    font-size: 16px;
}
body,
button,
dd,
dl,
ol,
ul,
p,
h1,
h3,
ul {
    margin: 0;
    padding: 0;
}
.icon {
    /* 通过设置 font-size 来改变图标大小 */
    width: 1em;
    height: 1em;
    /* 图标和文字相邻时，垂直对齐 */
    vertical-align: -0.15em;
    /* 通过设置 color 来改变 SVG 的颜色/fill */
    fill: currentColor;
    /* path 和 stroke 溢出 viewBox 部分在 IE 下会显示
             normalize.css 中也包含这行 */
    overflow: hidden;
}
button,
input,
select,
textarea {
    outline: none;
    border: none;
}
input {
    background: transparent;
}
input,
textarea,
keygen,
select,
button {
    font-family: PingFangSC-Regular, 'Microsoft Yahei', sans-serif;
}
a {
    color: #333;
    text-decoration: none;
}

img {
    width: 100%;
}

// 淡入淡出
.fade-enter-active, .fade-leave {
  transition: opacity .5s
}
.fade-enter, .fade-leave-active {
  opacity: 0
}

// 下出上入
.slide-toggle-enter-active,
.slide-toggle-leave-active {
    transition: all .3s ease;
}
.slide-toggle-enter {
    transform: translateY(-10px);
    opacity: 0;
}
.slide-toggle-leave-active {
    transform: translateY(10px);
    opacity: 0;
}

// 上出上入
.slide-up-enter-active,
.slide-up-leave-active {
    transition: all .3s ease;
}
.slide-up-enter,
.slide-up-leave-active {
    transform: translateY(-10px);
    opacity: 0;
}

// 左出右入
.slide-left-enter-active,
.slide-left-leave-active {
    transition: all .3s ease;
}
.slide-left-enter {
    transform: translateX(10px);
    opacity: 0;
}
.slide-left-leave-active {
    transform: translateX(-10px);
    opacity: 0;
}

// 右出左入
.slide-right-enter-active,
.slide-right-leave-active {
    transition: all .3s ease;
}
.slide-right-enter {
    transform: translateX(-10px);
    opacity: 0;
}
.slide-right-leave-active {
    transform: translateX(10px);
    opacity: 0;
}
